name: cron

on:
  workflow_dispatch:
  schedule:
    - cron: '10 * * * *' #UTC

jobs:
  cron:
    name: cron
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.5
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-dev -q

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Run Command
        run: php artisan hatena:delete
        env:
          DB_CONNECTION: 'mysql'
          DB_URL: ${{ secrets.DB_URL }}
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          USERS: ${{ secrets.USERS }}
          QUEUE_CONNECTION: 'sync'
